
.add-new-text {
    margin-left: 23px;
}

.icon-space {
    cursor: pointer;
}

.panel-header {
    margin-top: 11px;
}

.link-text {
    color: blue; 
    cursor: pointer;
    font-size: medium;
}

.link-locked-text {
    color: grey; 
    cursor: pointer;
    font-size: medium;
}

.link-admin-locked-text {
    color: grey; 
    cursor: pointer;
    font-size: medium;
}

.add-link-text {
    color: blue; 
    cursor: pointer;
    font-size: small;
}

.show-pointer {
    cursor: pointer;
}

.highlight:hover {
    background-color: rgb(243, 243, 243);
}


::ng-deep .mat-expansion-panel-header {
    height: auto !important; 
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    padding-right: 1!important;
}
::ng-deep .mat-expansion-panel-body {
    padding-right: 0 !important;
}

::ng-deep .mat-list .mat-list-item {
    height: auto !important;
    margin-top: 5px !important;
  }


