@import "theme";
@import "~@angular/material/theming";

.mat-button-toggle-checked {
  background-color: mat-color($accent);
}

mat-button-toggle {
  flex: 1 1 100%;
  box-sizing: border-box;
  align-items: center;
  flex-direction: row;
  display: flex;
}

.mat-button-toggle {
  line-height: 34px;
  height: 30px;
}

.editor-toolbar {
  max-height: 35px;
  min-height: 35px;
}

mat-toolbar-row {
  max-height: 35px;
  min-height: 35px;
}

.spacer {
  flex: 1 1 auto;
}

.breadcrumb-bar {
  font-size: 14px;
  color: rgba(90, 90, 90);
}
