@import "~@angular/material/theming";
$primary: mat-palette($mat-light-blue);
$accent: mat-palette($mat-light-blue, A100);
$warn: mat-palette($mat-yellow, A200);
$theme: mat-light-theme($primary, $accent, $warn);
