a {
  color:inherit;
  text-decoration: none;
 }

.appcontent-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.appbarmenu-container {
  min-width: 50px;
  background-color: #f4f4f4;
  color: black;
}

.cmu-logo {
  width: 100%;
  position: absolute;
  bottom: 0;
  max-width: 300px;

}
.pull-right {
  position: absolute;
  right: 35px;
}


.bar-height {
  height: 40px;
  color: white;
  border-width: 0.25pt;
  border-color: darkgray;
}

.notification-height {
  height: 40px;
  border-width: 0.25pt;
  border-color: darkgray;
}

.display {
  position: absolute;
  left: 80px;
  top: 10px;
}

.expand {
  margin-top: -2px;
}

.exercise-text {
  font-size: 110%;
  margin-left: 50px;
  margin-right: 40px;
}
.team-text {
  text-align: right;
  margin-right: 10px;
}
