# devcontainer.env.example
# ------------------------
# Copy this file to devcontainer.env in the same directory and update the keys
# and other variables accordingly.
# You must rebuild your dev container anytime this file changes.

### CLAUDE
AWS_ACCESS_KEY_ID=<Kion Long-Term API Key ID>
AWS_SECRET_ACCESS_KEY=<Kion Long-Term Secret Access Key>
