certifi==2019.3.9
chardet==3.0.4
Click==7.0
ecdsa==0.13.1
Flask==1.0.2
Flask-Cors==3.0.7
future==0.17.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
pyasn1==0.4.5
python-jose==3.0.1
pyvmomi==6.7.1.2018.12
requests==2.21.0
rsa==4.0
six==1.12.0
urllib3==1.24.2
Werkzeug==0.15.2
