{% extends "main-styles.html" %}

<!-- Render hero under tabs -->
{% block tabs %}
{{ super() }}

<!-- Hero for landing page -->
<!-- 1st Section -->
<section class="tx-container">
    <div class="md-grid md-typeset">
        <div class="tx-hero">

            <!-- Hero image -->
            <div class="tx-hero__image">
                <img
                        src="assets/img/home/cruciblelogo.svg"
                        alt=""
                        width="400"
                        draggable="false"
                >
            </div>

            <!-- Hero content -->
            <div class="tx-hero__content">
                <h1  id="crucible-overview">Crucible: A Cyber Simulation Framework</h1>
                <p>
                    Crucible is an open-source application framework for operating a cyber range. Crucible aims to be both simple and powerful, highly extensible, and cost effective. Since 2018, Crucible has effectively enabled large-scale Department of Defense (DoD) cyber exercises to increase operator performance. Crucible is now available to the public under open-source licensing.
                    
 <br><br>
                </p><br>
                <p>
                <strong>
                    Key Features:
                </strong> <br>
                <p>
                    &#9679
                    Open-source cyber simulation framework
                 <br>
                    &#9679
                    Modular design featuring extensive APIs
                <br>
                    &#9679
                    Customizable, immersive, browser-based user interface
                <br>
                    &#9679
                    “Infrastructure as code” approach to topology
                    building
                <br>
                    &#9679
                    Flexible integration of powerful, third-party
                    open-source tools
                <br>
                    &#9679
                    Scenario-based simulation and assessment
                <br>
                    &#9679
                    Support for multiple on-prem and cloud virtualization platforms
                <br>
                    &#9679
                    Efficiency through automation
                <br>
                    &#9679
                    Interoperability through open standards
                <br><br>

                <a
                        href="{{ page.next_page.url | url }}"
                        title="{{ page.next_page.title | e }}"
                        class="md-button md-button--primary"
                >
                    Get started
                </a><br>

                <a
                    href="https://github.com/cmu-sei/crucible"
                    title="{{ lang.t('source.link.title') }}"
                    class="md-button">
                    Contribute on GitHub
                    <img
                        class = icon
                        src="assets/img/home/github-white.svg"
                        alt=""
                        width="24"
                        draggable="false"
                    >
                </a><br>
            </div>
        </div>
    </div>
</section>

<!-- 2nd Section -->
<!-- Crucible apps? -->
<section class="tx-container-9">
    <div class="tx-hero">
        <div class="tx-hero__content-9">

        <h1 id="">Automating Cyber Experimentation and Exercise</h1><br>
        <p>
            Cyber range administrators confront persistent challenges:<br><br>
            
            Manual configurations leads to high-labor costs and 
            excessive human error—with limited scalability and automation<br>
            Proprietary range software leads to vendor lock-in and increasing costs
            CMU SEI developed Crucible in response to a decade of experiencing these frictions.<br>
            
            Each application is designed around a robust API that encourages interoperability with other Crucible Framework applications
            as well as powerful third-party tools.

        </p><br>
        </div>
    </div>
        <div class="tx-hero">
        <div class="tx-hero__content-9">

        <h1 id="">Addressing Persistent Challenges</h1><br>
                <p>
                    Crucible automates creation of virtual cyber environments featuring modeled topologies, simulated user activity, 
                    and scripted scenario events. These environments power individual labs, team-based exercises, and operational experimentation. 
                    These simulations can be fully automated or facilitated. Crucible content developers create new templates by specifying a topology, 
                    scenario, assessments, and user interfaces. Participants are challenged to perform mission-essential tasks and individual qualification requirements. 
                    Each Crucible application is built using the open-source Angular and .NET Core software frameworks.

                </p><br>
        <!--<div class="tx-hero__image-9" style="margin-top: 10px">
            <img
                    src="assets/img/home/crucible_apps2.png"
                    alt=""
                    width="800"
                    height="800"
                    draggable="false"
                    align="left"
            >
        </div> -->
        </div>
    </div>
        <!--<div class="tx-hero">

            <div class="tx-hero__content-9">
                <h1 id="">Addressing Persistent Challenges</h1><br>

                <p>
                    Cyber range administrators confront persistent challenges:<br><br>
                    
                    &#9679 Manual configurations leads to high-labor costs and 
                    excessive human error—with limited scalability and automation<br>
                    &#9679 Proprietary range software leads to vendor lock-in and increasing costs<br><br>
                    CMU SEI developed Crucible in response to a decade of experiencing these frictions.<br><br>
                    
                    Each application is designed around a robust API that encourages interoperability with other Crucible Framework applications
                    as well as powerful third-party tools.<br>

                </p><br>
            </div>
        </div>
    </div> -->
</section>

<!-- 3th Section -->
<!-- Crucible Tech  -->
<section class="tx-container-2">
    <div class="md-grid md-typeset">
        <div class="tx-hero__image-2">
            <img
                    src="assets/img/home/crucible_tech.png"
                    alt=""
                    width="800"
                    height="400"
                    object-position: center right;
                    draggable="false"
                    align="right"
            >
        </div>
        <div class="tx-hero">
            <!-- Hero content -->
            <div class="tx-hero__content-2">
                <h1 id="tech-stack">Crucible Toolset</h1>
                <p><br>
                    &#9679 Crucible facilitates training development by easily integrating with industry leading software as well as well known
                    open source solutions
                    <br><br>
                    &#9679 Run your training on multiple infrastructure providers, on-prem or in the cloud
                    <br><br>

                    &#9679 Crucible supports Keycloak for identity and access managment
                    </strong>
                </p>
            </div>
        </div>
    </div>
</section>

<!-- 4th Section  -->
<!-- WORK WITH US -->
<section class="tx-container-4">
    <div class="md-grid md-typeset">
        <div class="tx-hero">

            <!-- Hero image -->
            <div class="tx-hero__image-3">
                <img
                        src="assets/images/illustrations/home-section-4.png"
                        alt=""
                        object-position: center right;
                        width="1200"
                        draggable="false"
                >
            </div>

            <!-- Hero content -->
            <div class="tx-hero__content_small">
                <h1 id="work-with-us">Crucible Community</h1>
                <p>
                  
                    ⭐ <strong>
                        <a href="https://github.com/cmu-sei/crucible/discussions">Join the Discussion!</a>
                        </strong> <br>
                    ⭐ <strong>
                        <a href="https://github.com/cmu-sei/crucible/issues">Submit Issues!</a>
                        </strong> <br>
                    ⭐ <strong>
                        <a href="https://github.com/cmu-sei/crucible">Contribute to the Framework!</a>
                        </strong> <br>
                    ⭐ <strong>
                        <a href="https://github.com/cmu-sei/foundry-appliance/tree/crucible">Build your own Crucible!</a>
                        </strong> <br>
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}

