.md-typeset__table {
    min-width: 100%;
}

@media only screen and (min-width: 768px)
{
    td:nth-child(1){
        white-space: nowrap;
    }
}

@font-face {
    font-family: Arial, Helvetica, sans-serif;
    /*src: url("typography/Telegraf-Regular.otf");*/
}

@font-face {
    font-family: Arial, Helvetica, sans-serif;
    /*src: url("typography/Telegraf-UltraBold.otf");*/
}

/*.Telegraf-Regular{
    font-family:Telegraf-Regular;
}

.Telegraf-UltraBold{
    font-family:Telegraf-UltraBold;
}*/

* {
    --md-primary-fg-color: #C41230

    ;
    --md-primary-fg-color--light: #C41230

    ;
    --md-primary-fg-color--dark:  #C41230

    ;
    --md-typeset-color:   var(--md-default-fg-color);
    --md-typeset-a-color: var(--md-primary-fg-color--light);
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --md-primary-fg-color: #181917;
    --md-primary-fg-color--light: #9c0278;
    --md-primary-fg-color--dark:  #535530;
}

:root>* {
    --md-primary-bg-color:   #000;
    --md-typeset-color:   var(--md-default-fg-color);
    --md-typeset-a-color: var(--md-primary-fg-color--light);
}

/*
markdown and image alignment
ALT tag and a CSS selector on the alt tag
*/
img[src*='#left'] {
    float: left;
}
img[src*='#right'] {
    float: right;
}
img[src*='#center'] {
    display: block;
    margin: auto;
}

img[alt*='OE'] {
    border: solid;
}


img[alt='Add Evaluation OE']{
    width: 600px;
    height: 600px;
}

img[alt='Add Gallery User OE']{
    width: 500px;
    height: 400px;
}

img[alt='Add Collection OE']{
    width: 350px;
    height: 300px;
}

img[alt='Add Card OE']{
    width: 350px;
    height: 300px;
}

img[alt='Add Article OE']{
    width: 500px;
    height: 600px;
}

img[alt='Add Exhibit OE']{
    width: 350px;
    height: 300px;
}

img[alt='Exhibit Teams OE']{
    width: 650px;
    height: 500px;
}

img[alt='Card Teams OE']{
    width: 400px;
    height: 400px;
}

img[alt='Blueprint Add Team OE']{
    width: 550px;
    height: 200px;
}

img[alt='Blueprint Add User OE']{
    width: 550px;
    height: 50px;
}

img[alt='Blueprint Add Organization OE']{
    width: 600px;
    height: 600px;
}

img[alt='Blueprint Add Moves OE']{
    width: 600px;
    height: 600px;
}

img[alt='Blueprint Add Injects OE']{
    width: 550px;
    height: 600px;
}

img[alt='Add Scoring Model OE']{
    width: 600px;
    height: 400px;
}

img[alt='Scoring Categories OE']{
    width: 600px;
    height: 400px;
}

img[alt='Add Action OE']{
    width: 500px;
    height: 300px;
}

img[alt='Add Role OE']{
    width: 500px;
    height: 300px;
}

img[alt='Moves OE']{
    width: 550px;
    height: 400px;
}

img[alt='Teams OE']{
    width: 550px;
    height: 350px;
}
/*
Tables set to 100% width
*/
.md-typeset__table {
    min-width: 100%;
}

.md-typeset table:not([class]) {
    display: table;
}

/*
Colors for First Steps
custom code blocks coloring
*/
.fsg-timestamp {
    color: grey;
}
.fsg-userinput {
    color: cornflowerblue;
}
.fsg-path, .fsg-prompt {
    color: mediumseagreen;
}