<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="default" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <!-- <add key="cwd-nuget" value="https://INTERNAL_NUGET_SERVER/artifactory/api/nuget/v3/cwd-nuget" protocolVersion="2" /> -->
    <add key="local" value="nuget.local" />
  </packageSources>
</configuration>